<head>
    <meta charset="UTF-8">
    <title>{{title}} - Plants</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header}}
            <div id="contents">
                <h1>Plants</h1>
                <ul id="plants">
                    {{#each plantList}}
                        <li>
                            <h2>{{this.name}}</h2>
                            <h3>{{this.latinName}}</h3>
                            <img src="images/{{this.image}}" alt="Img" height="150" width="200">
                            <div class="info">
                                <p><strong>Water: </strong>{{this.water}}</p>
                                <p><strong>Light: </strong>{{this.light}}</p>
                            </div>
                        </li>
                    {{/each}}    
                </ul>
            </div>
        </div>
    </div>
</body>